{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <div class="d-flex align-items-center justify-content-center">
        <div class="card text-center">
            <div class="card-body">
                <p>
                Upon clicking the link below, you have one attempt to submit the correct answer for today's crossword.
                </p>
                <p>
                    <b>IMPORTANT:</b> If you submit an incorrect answer, your attempt will be logged and no further
                    attempts will be registered into the leaderboard for today's puzzle, including solves.
                </p>
    {% if session["user_id"] %}
                <a class="btn btn-primary btn-lg btn-block" href="/game">Begin</a>
            </div>
        </div>
    </div>
    {% else %}
                <a class="btn btn-primary btn-lg btn-block disabled">Login Required</a>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}